# Copyright © Inventas GmbH
#
# SPDX-License-Identifier: GPL-3.0-or-later

.git
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
*.py[cod]
.coverage
.coverage.*
build
data
data-test
dist
htmlcov
node_modules
test-images
